# 6.5.1 Set Up Google Maps and Places API

# 6.5.2 Create Heatmaps for Weather Parameters

In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("Resources/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Pangkalanbuun,ID,2021-03-27 03:29:45,-2.6833,111.6167,85.53,65,83,3.31
1,1,Khatanga,RU,2021-03-27 03:32:10,71.9667,102.5000,5.97,87,96,5.08
2,2,Rokiskis,LT,2021-03-27 03:32:11,55.9667,25.5833,38.71,82,81,5.59
3,3,Kavieng,PG,2021-03-27 03:32:11,-2.5744,150.7967,83.98,72,78,12.80
4,4,Bonga,ET,2021-03-27 03:28:28,7.2833,36.2333,58.60,85,65,2.08

In [3]:
# Get the Data Types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

# Adjust Heatmap Zoom, Intensity, and Point Radius

In [8]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

# Create a Percent Humidity Heatmap

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

# Create a Percent Cloudiness Heatmap

In [11]:
# Heatmap of percent Cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

# Create a Wind Speed Heatmap

In [12]:
# Heatmap of percent Wind Speend
locations = city_data_df[["Lat", "Lng"]]
speed = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=speed, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

# 6.5.3 Get Vacation Criteria

In [16]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 50
What is the maximum temperature you would like for your trip? 60

In [17]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \ (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
4,4,Bonga,ET,2021-03-27 03:28:28,7.2833,36.2333,58.60,85,65,2.08
24,24,Kamaishi,JP,2021-03-27 03:32:18,39.2667,141.8833,53.60,47,75,3.44
28,28,Filadelfia,US,2021-03-27 03:29:15,39.9523,-75.1638,59.00,54,1,10.36
56,56,Bethel,US,2021-03-27 03:32:30,41.3712,-73.4140,57.20,47,1,18.41
58,58,Ribeira Grande,PT,2021-03-27 03:32:31,38.5167,-28.7000,57.31,66,93,7.81
70,70,Comodoro Rivadavia,AR,2021-03-27 03:27:48,-45.8667,-67.5000,53.60,82,0,4.61
76,76,Challapata,BO,2021-03-27 03:32:37,-18.9000,-66.7667,51.15,64,94,5.46
92,92,Kaitangata,NZ,2021-03-27 03:32:43,-46.2817,169.8464,59.22,76,100,2.75
93,93,Shahr-E Kord,IR,2021-03-27 03:32:43,32.3256,50.8644,59.00,25,75,18.41
96,96,Ancud,CL,2021-03-27 03:32:44,-41.8697,-73.8203,51.01,93,20,4.61

In [18]:
preferred_cities_df.count()

City_ID       66
City          66
Country       66
Date          66
Lat           66
Lng           66
Max Temp      66
Humidity      66
Cloudiness    66
Wind Speed    66
dtype: int64

In [20]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [21]:
preferred_cities_df.notnull().sum()

City_ID       66
City          66
Country       66
Date          66
Lat           66
Lng           66
Max Temp      66
Humidity      66
Cloudiness    66
Wind Speed    66
dtype: int64

# 6.5.4 Map Vacation Criteria

# Get Travel Destinations

In [22]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                  City Country  Max Temp      Lat       Lng Hotel Name
4                Bonga      ET     58.60   7.2833   36.2333
24            Kamaishi      JP     53.60  39.2667  141.8833
28          Filadelfia      US     59.00  39.9523  -75.1638
56              Bethel      US     57.20  41.3712  -73.4140
58      Ribeira Grande      PT     57.31  38.5167  -28.7000
70  Comodoro Rivadavia      AR     53.60 -45.8667  -67.5000
76          Challapata      BO     51.15 -18.9000  -66.7667
92          Kaitangata      NZ     59.22 -46.2817  169.8464
93        Shahr-E Kord      IR     59.00  32.3256   50.8644
96               Ancud      CL     51.01 -41.8697  -73.8203