## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Lakatoro,VU,-16.0999,167.4164,82.99,75,99,7.58,overcast clouds
1,1,Port Lincoln,AU,-34.7333,135.8667,76.35,40,77,4.94,broken clouds
2,2,Provideniya,RU,64.3833,-173.3000,6.80,66,0,4.47,clear sky
3,3,Tasiilaq,GL,65.6145,-37.6368,28.40,86,37,9.22,scattered clouds
4,4,Wajir,KE,1.7471,40.0573,81.48,62,57,14.38,broken clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 60
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Lakatoro,VU,-16.0999,167.4164,82.99,75,99,7.58,overcast clouds
1,1,Port Lincoln,AU,-34.7333,135.8667,76.35,40,77,4.94,broken clouds
4,4,Wajir,KE,1.7471,40.0573,81.48,62,57,14.38,broken clouds
6,6,Atlantic Beach,US,30.3344,-81.3987,77.00,88,40,10.36,scattered clouds
7,7,Armadale,AU,-32.1500,116.0000,72.00,68,98,8.05,overcast clouds
12,12,Puerto Ayora,EC,-0.7393,-90.3518,78.01,94,35,10.00,scattered clouds
13,13,Port Alfred,ZA,-33.5906,26.8910,65.93,83,91,10.33,overcast clouds
14,14,Illapel,CL,-31.6308,-71.1653,65.52,71,0,2.86,clear sky
16,16,Hilo,US,19.7297,-155.0900,80.60,61,40,11.50,scattered clouds
18,18,Port Blair,IN,11.6667,92.7500,79.32,84,97,5.44,overcast clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.notnull().sum()

City_ID                399
City                   399
Country                390
Lat                    399
Lng                    399
Max Temp               399
Humidity               399
Cloudiness             399
Wind Speed             399
Current Description    399
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
empty_row_df = preferred_cities_df.dropna()

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = empty_row_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Lakatoro,VU,82.99,overcast clouds,-16.0999,167.4164,
1,Port Lincoln,AU,76.35,broken clouds,-34.7333,135.8667,
4,Wajir,KE,81.48,broken clouds,1.7471,40.0573,
6,Atlantic Beach,US,77.00,scattered clouds,30.3344,-81.3987,
7,Armadale,AU,72.00,overcast clouds,-32.1500,116.0000,
12,Puerto Ayora,EC,78.01,scattered clouds,-0.7393,-90.3518,
13,Port Alfred,ZA,65.93,overcast clouds,-33.5906,26.8910,
14,Illapel,CL,65.52,clear sky,-31.6308,-71.1653,
16,Hilo,US,80.60,scattered clouds,19.7297,-155.0900,
18,Port Blair,IN,79.32,overcast clouds,11.6667,92.7500,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
       # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [9]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Lakatoro,VU,82.99,overcast clouds,-16.0999,167.4164,Lakatoro Palm Lodge
1,Port Lincoln,AU,76.35,broken clouds,-34.7333,135.8667,Port Lincoln Hotel
4,Wajir,KE,81.48,broken clouds,1.7471,40.0573,Al-bustan Hotel And Restaurant.
6,Atlantic Beach,US,77.00,scattered clouds,30.3344,-81.3987,One Ocean Resort & Spa
7,Armadale,AU,72.00,overcast clouds,-32.1500,116.0000,Armadale Cottage Bed & Breakfast
12,Puerto Ayora,EC,78.01,scattered clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
13,Port Alfred,ZA,65.93,overcast clouds,-33.5906,26.8910,The Halyards Hotel
14,Illapel,CL,65.52,clear sky,-31.6308,-71.1653,Hotel Londres
16,Hilo,US,80.60,scattered clouds,19.7297,-155.0900,Hilo Hawaiian Hotel
18,Port Blair,IN,79.32,overcast clouds,11.6667,92.7500,Welcomhotel Bay Island Port Blair

In [10]:
# 8a. Create the output File (CSV)
output_data_file = "../Vacation_Search/WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map. 
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))